<!doctype html>
<html>
  <head>
    <title>A Node.JS Timestamp Microservice</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="header">Timestamp Microservice</h1>
      <small>(Made for <a href="http://freecodecamp.org/">FreeCodeCamp.org</a>)</small>
      <div>
      <h3>Example Usage:</h3>
      <code>https://gentle-kite.glitch.me/October 21 2015</code>
        <br /><code>https://gentle-kite.glitch.me/October 21 15</code>
        <!--<br /><code>https://gentle-kite.glitch.me/Oct 21 2015</code>
        <br /><code>https://gentle-kite.glitch.me/Oct 21 15</code>
        <br /><code>https://gentle-kite.glitch.me/10 21 2015</code>
        <br /><code>https://gentle-kite.glitch.me/10 21 15</code>-->
        <br /><code>https://gentle-kite.glitch.me/1445364000</code>
      </div>
      <div>
        <h3>Example Output:</h3>
        <code>{"unix":1445364000,"natural":"October 21, 2015"}</code>
      </div>
    </div>
  </body>
</html>